* {
padding: none;
margin: none;
box-sizing: none;   /* Свойства для сброса начальных стилей элементов */
}

body {
font-family: "Inter", sans-serif;
color: #303030;
}

header {
background-color: #2965f1;
padding: 23px 0;
/* Стили для хедера */
}

header span {
font-weight: 700;
font-size: 20px;
color: #fff;    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
background-color: #fafaff;
padding: 60px 0;
min-height: 100%;
/* Стили для первой секции */
}

.main-title {
font-weight: 700;
font-size: 48px;
margin-bottom: 20px;
    /* Стили для заголовка в первой секции */
}

.main-text {
font-weight: 400;
font-size: 18px;    /* Стили для текста в первой секции */
}

.main-image {
max-width: 715px ;    /* Стили для изображения в первой секции */
}


.about-section {
background-color:  #fff;
padding: 100px 0;    /* Стили для второй секции */
}

select {
width: 150px;
border: 1px solid rgba(48, 48, 48, 0.3);
border-radius: 5px;
height: 36px;
background: rgba(255, 255, 255, 0);
font-weight: 400;
font-size: 16px;
padding: 9px;
background: url(./assets/images/ep_arrow-down.svg) no-repeat right 10px top 50%;
appearance: none;    /* Стили для выпадающего списка */
}

.section-title {
font-weight: 700;
font-size: 24px;
margin-bottom: 25px;   /* Стили для заголовков во второй секции */
}

.frameworks-list {
list-style-image: url(./assets/images/solar_map-arrow-up-bold.svg);
padding: 0px 20px;
font-weight: 400;
font-size: 16px;    /* Стили для маркированного списка во второй секции */
}

.books-list {
padding: 0px 20px;
font-weight: 400;
font-size: 16px;    /* Стили для нумерованного списка во второй секции */
}

.label {
font-weight: 400;
font-size: 16px;   /* Стили для подписей чекбоксов */
}

.text-field {
width: 330px;
padding: 9px 215px 8px 12px;
border: 1px solid rgba(48, 48, 48, 0.3);
border-radius: 5px;
font-weight: 400;
font-size: 16px;
color: rgba(48, 48, 48, 0.2);    /* Стили для односточного поля ввода текста */
}

.btn {
border: none;
border-radius: 5px;
width: 125px;
height: 36px;
background-color: #2965f1;
font-weight: 700;
font-size: 14px;
color: #fff;    /* Стили для кнопки */
}

.line {
margin-top: 60px;
margin-bottom: 60px;    /* Стили для линии */
}

table {
border: 1px solid #95a1bb;
border-collapse: collapse;
font-weight: 700;
font-size: 14px;
font-weight: 400;
  /* Стили для таблицы */
}

th, td {
padding: 12px 15px;
    /* Стили для ячеек таблицы */
}

footer {
background-color: rgba(163, 167, 255, 0.3);
padding: 26px 0    /* Стили для футера */
}

.footer-link {
font-weight: 400;
font-size: 14px;
color: #2965f1; 
text-decoration: none;   /* Стили для футера */
}